/* Css for Register page */
#body1 {
  font-family: Arial, sans-serif;
  background: url(https://i.pinimg.com/originals/c9/8a/63/c98a630219cfe688adbf3ca148012e36.gif);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  overflow: hidden;
}

.signup-container {
  position: relative;
  animation: borderGlow 2s linear infinite;
  border-radius: 20px;
}

@keyframes borderGlow {

  0%,
  100% {
    box-shadow: 0px -10px 15px -6px rgba(0, 255, 0, 0.8),
      0px 5px 15px 0px rgba(255, 0, 0, 0.8),
      5px 0px 15px 0px rgba(0, 0, 255, 0.8),
      -5px 0px 15px 0px rgba(93, 225, 245, 0.8);
  }

  25% {
    box-shadow: -5px 0px 15px 0px rgba(93, 225, 245, 0.8),
      0px -10px 15px -6px rgba(0, 255, 0, 0.8),
      0px 5px 15px 0px rgba(255, 0, 0, 0.8),
      5px 0px 15px 0px rgba(0, 0, 255, 0.8);
  }

  50% {
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 255, 0.8),
      -5px 0px 15px 0px rgba(93, 225, 245, 0.8),
      0px -10px 15px -6px rgba(0, 255, 0, 0.8),
      0px 5px 15px 0px rgba(255, 0, 0, 0.8);
  }

  75% {
    box-shadow: 0px 5px 15px 0px rgba(255, 0, 0, 0.8),
      5px 0px 15px 0px rgba(0, 0, 255, 0.8),
      -5px 0px 15px 0px rgba(93, 225, 245, 0.8),
      0px -10px 15px -6px rgba(0, 255, 0, 0.8);
  }
}

.signup-form {
  background-color: #0000005f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Mobile Responsive */
@media screen and (max-width: 480px) {
  .signup-form {
    width: 340px;
    padding: 20px;
    border-radius: 12px;
  }

  .signup-form input,
  .signup-form button {
    font-size: 14px;
  }
}

.signup-form h2 {
  color: #fff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 50px;
  background-color: #2222226b;
  color: #fff;
  outline: none;

  transition: all linear 0.2s;
}

.signup-form input:hover {
  border-color: #00f, #f00, #0f0;
  box-shadow: 0px -10px 15px -6px rgba(0, 255, 0, 0.8),
    0px 5px 15px 0px rgba(255, 0, 0, 0.8), 5px 0px 15px 0px rgba(0, 0, 255, 0.8),
    -5px 0px 15px 0px rgba(93, 225, 245, 0.8);
}

.signup-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.signup-form button:hover {
  background-color: #45a049;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
}

.error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 10px;
  margin-bottom: 24px;
  font-weight: 400;
  border-radius: 10px;
}

.sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 10px;
  margin-bottom: 24px;
  font-weight: 600;
  border-radius: 10px;
}

.loading {
  display: none;
  background: #ffffff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  border-radius: 10px;
  font-weight: 700;
}

.loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #e84545;
  border-top-color: #ffffff;
  animation: animate-loading 1s linear infinite;
}

.loading1 {
  display: none;
  background: #ffffff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  border-radius: 40px;
  font-weight: 700;
}

.loading1:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #e84545;
  border-top-color: #ffffff;
  animation: animate-loading 1s linear infinite;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  /* margin: 0px auto;
  padding: 20px; */
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #4caf50;
  /* margin: 20px 0; */
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto;
}

.avatar-edit {
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 1;
}

.avatar-edit input {
  display: none;
}

.avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-edit input+label::after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar-preview #imagePreview {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}